#outer_frame{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.left{
  flex: 6;
  display: flex;
  flex-direction: column;
   align-items: center;
  line-height: 1;
}
.right{
  flex:4;
}
.main_img{
  max-width: 100%;
  display: block;
}
.firstName{
  font-size: 8rem;
  transform: translateX(-0.85em);
}
.lastName{
  font-size: 8rem;
  transform: translateX(0.85em);
}